<div class="container">
  <div>
    <p class="text-center mt-4 sombras" style="color: white;">Benvinguts i benvingudes a la pàgina web oficial de l'Atlètic Benilloba.</p>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed bg-color-success" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          HISTÒRIA
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="texto_justificado">
            <p>La història d'aquest club és remunta l'any 2018, concretament a l'estiu. Amb la idea rondant pel cap, i
              recordant les historietes que els nostres avis i pares ens havien contat, vam decidir construir allò que
              molts havíem somiat. Va ser al següent any, al 2019, quan començarem el nostre camí a la Lliga Comarcal
              de
              Futbol Sala, però amb el nom de F.S. Benilloba. Així va començar la història d'aquest club, militant la
              Segona División d'aquella lliga. Tot i que l'equip era nou i molts no havien jugat mai junts... (En
              construcció)</p>
              <img class="img-fluid mx-auto d-block mt-4" [src]="'http://localhost:8080/logo.png'" width="50%" height="50%">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h4 class="mt-4 sombras text-center" style="color: white;">GALERIA FOTOGRÀFICA</h4>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="'http://localhost:8080/021.jpg'" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img [src]="'http://localhost:8080/032.jpg'" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img [src]="'http://localhost:8080/037.jpg'" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img [src]="'http://localhost:8080/045.jpg'" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img [src]="'http://localhost:8080/049.jpg'" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
